<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Forwarder add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/admin">Admin</a></li>
            <li><a href="http://localhost:8080/admin/lacks/lacks">Wszystkie</a></li>
            <li><a href="http://localhost:8080/admin/lacks/forwarder">Wg.Forwardera</a></li>
            <li><a href="http://localhost:8080/admin/lacks/purchaser">Wg.Purchasera</a></li>
            <li><a href="http://localhost:8080/admin/lacks/supplier">Wg.Suppliera</a></li>
            <li sec:authorize="isAuthenticated()"><a href="http://localhost:8080/logout">LOGOUT</a></li>
            <li sec:authorize="isAnonymous()"><a href="http://localhost:8080/login">LOGIN</a></li>
        </ul>
    </nav>
</header>
<main>
<section id="description">
    <form>
    <table>
        <tr><h3>Lista braków dla wybranego forwardera</h3></tr>
        <tr>
            <td><b>Lack ID</b></td>
            <td><b>Item</b></td>
            <td><b>Item required amount</b></td>
            <td><b>Forwarder Name</b></td>
            <td><b>Purchaser Name</b></td>
            <td><b>Supplier Name</b></td>
            <td><b>Entry date</b></td>
            <td><b>Lack status</b></td>
            <td><b>Item ordered amount</b></td>
            <td><b>Expected delivery date</b></td>
        </tr>
        <tr th:each="lack : *{lacks}">
            <!--/*@thymesVar id="lack" type="com.example.demo.models.LackDTO"*/-->
            <td th:text="${lack.lackID}"></td>
            <td th:text="${lack.item}"></td>
            <td th:text="${lack.requiredAmount}"></td>
            <td th:text="${lack.forwarderName}"></td>
            <td th:text="${lack.purchaserName}"></td>
            <td th:text="${lack.supplierName}"></td>
            <td th:text="${lack.lacksSetDateAndTime}"></td>
            <td th:text="${lack.status}"></td>
            <td th:text="${lack.orderedAmount}"></td>
            <td th:text="${lack.expectedDeliveryDateAndTime}"></td>
        </tr>
    </table>
    </form>
</section>
</main>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>