<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Forwarders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/admin">Admin</a></li>
            <li><a href="http://localhost:8080/admin/forwarders">Forwarders list</a></li>
            <li><a href="http://localhost:8080/admin/forwarders/add">Add forwarder</a></li>
            <li><a href="http://localhost:8080/admin/forwarders/delete">Delete forwarder</a></li>
        </ul>
    </nav>
</header>
<main>
<section id="description">
    <form>
    <table>
        <tr>
            <h3>Lista Forwarderów</h3>
        </tr>
        <tr>
            <td><b>Forwarder Name</b></td>
            <td><b>Forwarder ID</b></td>
            <td><b>Forwarder Email</b></td>
            <td><b>Forwarder Phone nr</b></td>
        </tr>
        <tr th:each="forwarder : *{forwarders}">
            <!--/*@thymesVar id="forwarder" type="com.example.demo.models.UserDTO"*/-->
            <td th:text="${forwarder.userName}"></td>
            <td th:text="${forwarder.userID}"></td>
            <td th:text="${forwarder.login}"></td>
            <td th:text="${forwarder.phoneNumber}"></td>
        </tr>
    </table>
    </form>
</section>
</main>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>

