<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forwarder add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/admin">Admin</a></li>
            <li><a href="http://localhost:8080/admin/forwarders">Forwarders list</a></li>
            <li><a href="http://localhost:8080/admin/forwarders/add">Add forwarder</a></li>
            <li><a href="http://localhost:8080/admin/forwarders/delete">Delete forwarder</a></li>
        </ul>
    </nav>
</header>
<main>
<section id="description">

    <!--/*@thymesVar id="forwarder" type="com.example.demo.models.ForwarderDTO"*/-->
    <form action="#" th:action="@{/admin/forwarders/add}" th:object="${forwarder}" method="post">
        <table>
            <tr>
                <td>Forwarder Name</td>
                <td><input type="text" th:field="*{forwarderName}" /></td>
                <td th:if="${#fields.hasErrors('forwarderName')}" th:errors="*{forwarderName}">Name Error</td>
            </tr>
            <tr>
                <td>Forwarder ID</td>
                <td><input type="text" th:field="*{forwarderID}" /></td>
                <td th:if="${#fields.hasErrors('forwarderID')}" th:errors="*{forwarderID}">ID Error</td>
            </tr>
            <tr>
                <td>Forwarder login/email</td>
                <td><input type="text" th:field="*{login}" /></td>
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</td>
            </tr>
            <tr>
                <td>Forwarder password</td>
                <td><input type="text" th:field="*{password}" /></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </tr>
            <tr>
                <td>Forwarder Skype ID</td>
                <td><input type="text" th:field="*{skypeID}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Zapisz" /></td>
            </tr>
        </table>
    </form>
</section>
</main>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>