<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchasers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/admin">Admin</a></li>
            <li><a href="http://localhost:8080/admin/purchasers">Purchasers list</a></li>
            <li><a href="http://localhost:8080/admin/purchasers/add">Add purchaser</a></li>
            <li><a href="http://localhost:8080/admin/purchasers/delete">Delete purchaser</a></li>
        </ul>
    </nav>
</header>
<section id="description">

    <table>
        <tr>
            <td><h3>Purchaser Name</h3></td>
            <td><h3>Purchaser ID</h3></td>
            <td><h3>Purchaser Email</h3></td>
            <td><h3>Purchaser Skype ID</h3></td>
        </tr>
        <tr th:each="purchaser : *{purchasers}">
            <!--/*@thymesVar id="purchaser" type="com.example.demo.models.PurchaserDTO"*/-->
            <td th:text="${purchaser.purchaserName}"></td>
            <td th:text="${purchaser.purchaserID}"></td>
            <td th:text="${purchaser.login}"></td>
            <td th:text="${purchaser.skypeID}"></td>
        </tr>
    </table>
</section>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>

