<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
            <title>Zajęcia z html</title>
            <meta charset="UTF-8">
            <meta name="description" content="BRAKI APP">
            <meta name="keywords" content=”html,javascript,css”>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
            <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />


    </head>
    <body class="background-white">
            <header class="background-blue">
                    <nav>
                            <ul>
                                <li><a href="http://localhost:8080/">Home</a></li>
                                <li><a href="http://localhost:8080/suppliers">Suppliers</a></li>
                                <li><a href="#">link 2</a></li>
                                <li><a href="#">link 3</a></li>
                            </ul>
                    </nav>
            </header>
            <main>
                    <section id="description">
                            <div>
                                    <h3>Opis</h3>
                                    <p class="paragraph">To co działa jest podlinkowane do górnego menu</p>
                                            <div class="underline"></div>
                            </div>
                            <!--<div>-->
                                    <!--<h3>Hobby</h3>-->
                                    <!--<p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
                                                <!--Corporis repellat necessitatibus veritatis quae nihil error suscipit -->
                                                <!--laboriosam dolore totam, ratione dolores aspernatur odit culpa iste-->
                                                <!--aperiam ducimus quia quaerat itaque?</p>-->
                                                <!--<div class="underline"></div>-->
                            <!--</div>-->
                            <!--<div>-->
                                    <!--<h3>Movies</h3>-->
                                    <!--<p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. -->
                                                <!--Corporis repellat necessitatibus veritatis quae nihil error suscipit -->
                                                <!--laboriosam dolore totam, ratione dolores aspernatur odit culpa iste-->
                                                <!--aperiam ducimus quia quaerat itaque?</p>-->
                                                <!--<div class="underline"></div>-->
                            <!--</div>-->
                    </section>


            </main>
            <footer class="background-blue">
                    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
                    <script src="index.js"></script>
            </footer>
    </body>
</html>