<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Supplier add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/suppliers">Suppliers list</a></li>
            <li><a href="http://localhost:8080/suppliers/add">Add supplier</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
    </nav>
</header>
<section id="description">

<form action="#" th:action="@{/suppliers/add}" th:object="${supplier}" method="post">
    <table>
        <tr>
            <td>Supplier Name</td>
            <td><input type="text" th:field="*{supplierName}" /></td>
            <td th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}">Name Error</td>
        </tr>
        <tr>
            <td>Supplier ID</td>
            <td><input type="text" th:field="*{supplierID}" /></td>
        </tr>
        <tr>
            <td>Purchaser Name</td>
            <!--<td><input type="text" th:field="*{purchaserName}" /></td>&ndash;&gt;-->
            <td><select th:field="*{purchaserName}">
                <option th:each="purchaser : ${purchasers}"
                        th:value="${purchaser.purchaserName}"
                        th:text="${purchaser.purchaserName}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td>Purchaser Skype ID</td>
            <td><input type="text" th:field="*{purchaserSkypeID}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</section>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>