<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchaser - Suppliers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/purchaser">Purchaser panel</a></li>
            <li><a href="http://localhost:8080/purchaser/suppliers">Suppliers list</a></li>
            <li><a href="http://localhost:8080/purchaser/suppliers/add">Add supplier</a></li>
            <li><a href="http://localhost:8080/purchaser/suppliers/delete">Delete supplier</a></li>
        </ul>
    </nav>
</header>
<section id="description">

<table>
    <tr>
        <td><h3>Supplier Name</h3></td>
        <td><h3>Supplier ID</h3></td>
        <td><h3>Purchaser ID</h3></td>
    </tr>
    <tr th:each="supplier : *{suppliers}">
        <td th:text="${supplier.supplierName}"></td>
        <td th:text="${supplier.supplierID}"></td>
        <td th:text="${supplier.purchaserID}"></td>
    </tr>
</table>
</section>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>
