<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Supplier delete</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BRAKI APP">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/purchaser">Purchaser panel</a></li>
            <li><a href="http://localhost:8080/purchaser/suppliers">Suppliers list</a></li>
            <li><a href="http://localhost:8080/purchaser/suppliers/add">Add supplier</a></li>
            <li><a href="http://localhost:8080/purchaser/suppliers/delete">Delete supplier</a></li>
            <li sec:authorize="isAuthenticated()"><a href="http://localhost:8080/logout">LOGOUT</a></li>
            <li sec:authorize="isAnonymous()"><a href="http://localhost:8080/login">LOGIN</a></li>
        </ul>
    </nav>
</header>
<main>
<section id="description">
    <!--/*@thymesVar id="supplier" type="com.example.demo.models.SupplierDTO"*/-->
    <form action="#" th:action="@{/purchaser/suppliers/delete}" th:object="${supplier}" method="post">
        <table>
            <tr><h3>Wybierz dostawcę do skasowania</h3></tr>
            <tr>
                <select th:field="*{supplierID}">
                    <option th:each="supplier : ${suppliers}"
                            th:value="${supplier.supplierID}"
                            th:text="${supplier.supplierName}">
                    </option>
                </select>
            </tr>
        </table>
        <input type="submit" value="Skasuj" />
    </form>
</section>
</main>
<footer class="background-blue">
    <p>Copyright &copy;2019 FullStackSeniorDeveloper</p>
    <script src="index.js"></script>
</footer>
</body>
</html>